/* 
  ##Device = Desktops
  ##Screen = 1440px to higher resolution desktops
*/

@media (min-width: 1440px) {
  /* CSS */
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 1200px to 1399.98px
*/

@media (min-width: 1200px) and (max-width: 1399.98px) {
  /* CSS */
}
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 1025px to 1199px
*/

@media (min-width: 1025px) and (max-width: 1199.98px) {
  /* CSS */
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 992px to 1024px
*/

@media (min-width: 992px) and (max-width: 1024px) and (orientation: landscape) {
  /* CSS */
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 991px
*/

@media (min-width: 768px) and (max-width: 991.98px) and (orientation: landscape) {
  /* CSS */
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Portrait)
  ##Screen = B/w 576px to 767px
*/

@media (min-width: 576px) and (max-width: 767.98px) {
  /* CSS */
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Portrait)
  ##Screen = B/w 481px to 575px
*/

@media (min-width: 481px) and (max-width: 575.98px) {
  /* CSS */
}

/* 
  ##Device = Most of the Smartphones Mobiles large(Portrait)
  ##Screen = B/w 425px to 480px
*/

@media (min-width: 425px) and (max-width: 480px) {
  /* CSS */
}

/* 
  ##Device = Most of the Smartphones Mobiles meddium (Portrait)
  ##Screen = B/w 376px to 42px
*/

@media (min-width: 376px) and (max-width: 424px) {
  .headerone h1 {
    font-size: 12px;
    margin: unset;
    text-align: center;
  }
  .listone ul,
  .listtow ul {
    width: 70%;
    margin: auto;
  }
  .listone ul li a,
  .listtow ul li a {
    font-size: 12px;
  }
  /* /////////////////////////////////////////////// */
  .navbar-light .navbar-brand {
    color: unset;
    width: 46%;
  }

  .btn-join {
    display: none;
  }
  .join-btn-mb {
    display: inherit;
  }
  .join-btn-mb {
    font-size: 10px;
    margin: 5px 0px 3px 0px;
    border: 2px solid transparent;
    border-radius: 30px;
  }
  .navbar-light .navbar-toggler {
    color: #000;
    border-color: rgba(0, 0, 0, 0.5);
  }
  .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
  }
  /* ///////////////////////////////////////////// */
  .bannerone h1 {
    font-size: 28px;
  }
  .towcont h1 {
    font-size: 22px;
  }
  .btn-one,
  .btn-tow {
    font-size: 14px;
    padding: 6px 20px 6px 20px;
  }
  /* ///////////////////////////////////////////// */
  .forboxfour:hover,
  .wholebox:hover {
    margin: 40px 0px 0px 0px;
  }
  /* ///////////////////////////////////////////// */
  .services {
    padding: 35px 0px 80px 0px;
  }
  .foriphone {
    position: static;
  }
  .foriphone img {
    width: 100%;
  }
  .bannertow {
    padding: 50px 0px 50px 0px;
  }
  .bannertow h3 {
    margin: 40px 0px 0px 0px;
  }
  .forrotatebox {
    margin: 0px 0px 0px 10px;
    height: 45px;
    width: 60px;
  }
  .bannertow ul li {
    padding: 40px 0px 0px 0px;
  }
  .towitems h1 {
    font-size: 18px;
  }
  .towitems p {
    font-size: 10px;
    margin: 0px 0px 0px 0px;
  }
  /* }//////////////////////////////////////////// */
  .number h1 {
    font-size: 40px;
  }
  .number p {
    font-size: 12px;
  }
  /* ///////////////////////////////////////////// */
  .starimg {
    margin: 15px 0px 0px 0px;
  }
  .starimg img {
    width: 50%;
  }
  .icons1,
  .icons2,
  .icons3,
  .icons4,
  .icons5,
  .icons6 {
    height: 30px;
    width: 30px;
  }
  .icons1 i,
  .icons2 i,
  .icons3 i,
  .icons4 i,
  .icons5 i,
  .icons6 i {
    font-size: 13px;
  }
  .iconscont1 h1,
  .iconscont2 h1,
  .iconscont3 h1,
  .iconscont4 h1,
  .iconscont5 h1,
  .iconscont6 h1 {
    font-size: 14px;
    margin: 8px 0px 0px 0px;
  }
  .iconscont1,
  .iconscont2,
  .iconscont3,
  .iconscont4,
  .iconscont5,
  .iconscont6 {
    width: 20%;
    top: 15%;
    left: 18%;
    transform: translate(-18%, -15%);
  }
  .iconscont2 {
    top: 15%;
    left: 85%;
    transform: translate(-85%, -15%);
  }
  .iconscont3 {
    top: 88%;
    left: 4%;
    transform: translate(-4%, -88%);
  }
  .iconscont4 {
    top: 88%;
    left: 96%;
    transform: translate(-96%, -88%);
  }
  .iconscont5 {
    top: 145%;
    left: 18%;
    transform: translate(-18%, -145%);
  }
  .iconscont6 {
    top: 160%;
    left: 85%;
    transform: translate(-85%, -160%);
  }
  /* ///////////////////////////////////////////// */
  .justpadd {
    padding: 0px 0px 20px 0px;
  }
  .oneitems {
    top: 53%;
    transform: translateY(53%);
  }
  .singlepadd {
    padding: 115px 0px 0px 0px;
  }
  .forbottom {
    padding: 75px 0px 0px 0px;
  }
  .singlecont {
    padding: 120px 0px 30px 0px;
  }
  .paddpadd {
    padding: 45px 0px 30px 0px;
  }
  .quotetion {
    top: 54%;
    transform: translate(-70%, -54%);
  }
  /* //////////////////////////////////////////// */
  .footerone {
    padding: 40px 0px 0px 0px;
  }
  .footerone img {
    padding: 0px 0px 15px 0px;
  }
  .footerone p {
    font-size: 14px;
  }
  .social ul {
    width: 60%;
    margin: auto;
  }
  .upcont {
    padding: 0px 0px 20px 0px;
  }
  .towitem {
    display: flex;
    margin: 0px 0px 10px 0px;
  }
  .call h1 {
    font-size: 12px;
  }
  .listtow ul {
    display: none;
  }
  .footertow h1 {
    font-size: 15px;
    text-align: center;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles small(Portrait)
  ##Screen = B/w 0px to 375.98px
*/

@media (min-width: 0px) and (max-width: 375.98px) {
  .headerone h1 {
    font-size: 12px;
    margin: unset;
    text-align: center;
  }
  .listone ul,
  .listtow ul {
    width: 70%;
    margin: auto;
  }
  .listone ul li a,
  .listtow ul li a {
    font-size: 12px;
  }
  /* /////////////////////////////////////////////// */
  .navbar-light .navbar-brand {
    color: unset;
    width: 46%;
  }

  .btn-join {
    display: none;
  }
  .join-btn-mb {
    display: inherit;
  }
  .join-btn-mb {
    font-size: 10px;
    margin: 5px 0px 3px 0px;
    border: 2px solid transparent;
    border-radius: 30px;
  }
  .navbar-light .navbar-toggler {
    color: #000;
    border-color: rgba(0, 0, 0, 0.5);
  }
  .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
  }
  /* ///////////////////////////////////////////// */
  .bannerone h1 {
    font-size: 28px;
  }
  .towcont h1 {
    font-size: 17px;
  }
  .btn-one,
  .btn-tow {
    font-size: 14px;
    padding: 6px 20px 6px 20px;
  }
  /* ///////////////////////////////////////////// */
  .forboxfour:hover,
  .wholebox:hover {
    margin: 40px 0px 0px 0px;
  }
  /* ///////////////////////////////////////////// */
  .services {
    padding: 35px 0px 80px 0px;
  }
  .foriphone {
    position: static;
  }
  .foriphone img {
    width: 100%;
  }
  .bannertow {
    padding: 50px 0px 50px 0px;
  }
  .bannertow h3 {
    margin: 40px 0px 0px 0px;
  }
  .forrotatebox {
    margin: 0px 0px 0px 10px;
    height: 45px;
    width: 70px;
  }
  .bannertow ul li {
    padding: 40px 0px 0px 0px;
  }
  .towitems h1 {
    font-size: 18px;
  }
  .towitems p {
    font-size: 10px;
    margin: 0px 0px 0px 0px;
  }
  /* }//////////////////////////////////////////// */
  .number h1 {
    font-size: 40px;
  }
  .number p {
    font-size: 12px;
  }
  /* ///////////////////////////////////////////// */
  .starimg {
    margin: 0px 0px 0px 0px;
  }
  .starimg img {
    width: 50%;
  }
  .icons1,
  .icons2,
  .icons3,
  .icons4,
  .icons5,
  .icons6 {
    height: 30px;
    width: 30px;
  }
  .icons1 i,
  .icons2 i,
  .icons3 i,
  .icons4 i,
  .icons5 i,
  .icons6 i {
    font-size: 13px;
  }
  .iconscont1 h1,
  .iconscont2 h1,
  .iconscont3 h1,
  .iconscont4 h1,
  .iconscont5 h1,
  .iconscont6 h1 {
    font-size: 14px;
    margin: 8px 0px 0px 0px;
  }
  .iconscont1,
  .iconscont2,
  .iconscont3,
  .iconscont4,
  .iconscont5,
  .iconscont6 {
    width: 20%;
    top: 15%;
    left: 18%;
    transform: translate(-18%, -15%);
  }
  .iconscont2 {
    top: 15%;
    left: 85%;
    transform: translate(-85%, -15%);
  }
  .iconscont3 {
    top: 88%;
    left: 4%;
    transform: translate(-4%, -88%);
  }
  .iconscont4 {
    top: 88%;
    left: 96%;
    transform: translate(-96%, -88%);
  }
  .iconscont5 {
    top: 145%;
    left: 18%;
    transform: translate(-18%, -145%);
  }
  .iconscont6 {
    top: 160%;
    left: 85%;
    transform: translate(-85%, -160%);
  }
  /* ///////////////////////////////////////////// */
  .justpadd {
    padding: 0px 0px 20px 0px;
  }
  .errow {
    left: 100%;
    top: 100%;
    transform: translate(-100%, -101%);
  }
  .singlepadd {
    padding: 115px 0px 0px 0px;
  }
  .forbottom {
    padding: 75px 0px 0px 0px;
  }
  .singlecont {
    padding: 120px 0px 30px 0px;
  }
  .paddpadd {
    padding: 45px 0px 30px 0px;
  }
  .footerone {
    padding: 40px 0px 0px 0px;
  }
  .footerone img {
    padding: 0px 0px 15px 0px;
  }
  .footerone p {
    font-size: 14px;
  }
  .social ul {
    width: 60%;
    margin: auto;
  }
  .upcont {
    padding: 0px 0px 20px 0px;
  }
  .towitem {
    display: flex;
    margin: 0px 0px 10px 0px;
  }
  .call h1 {
    font-size: 12px;
  }
  .listtow ul {
    display: none;
  }
  .footertow h1 {
    font-size: 15px;
    text-align: center;
  }
}
